{% extends "base.html" %}

  {% block heading %}
    <div class="container">
      <h1>Create  Student!</h1>
    </div>
  {% endblock heading %}

  {% block content %}
    <div class="container"> 
      <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {% comment %} {% load crispy_forms_field %}
            {% load crispy_forms_filters %} {% endcomment %}
            {{ form | crispy }}
            <button class="btn-floating btn-large pulse pink darken-1"> <i class="material-icons">add</i></a></button>
        </form>
      </div>
    </div>
  {% endblock content %}