{% extends "base.html" %}

  {% block heading %}
    <div class=" container">
        <div class=""> 
            <h1 class="">{{ object }}</h1>
        </div>
    </div>
  {% endblock heading %}
  
  {% block content %}
    <div class="row">
        <div class="container"><h5 class="bold">{{object.reason_for_admission}}<br>
            <h5><a href="{% url 'parent' object.pk object.slug %}"><i class="material-icons large">person</i></a>
            <a href="{% url 'book' object.pk object.slug%}" class=""><i class="material-icons large">book</i></a>
            <a href="{% url 'literacy' object.pk object.slug%}" class=""><i class="material-icons large">blur_circular</i></a>
            <a href="{% url 'incentive' object.pk object.slug%}" class=""><i class="material-icons large">blur_on</i></a>
            <a href="{% url 'appraisal' object.pk object.slug%}" class=""><i class="material-icons large">brightness_5</i></a>
            <a href="{% url 'posting' object.pk object.slug%}" class=""><i class="material-icons large">build</i></a>
            <a href="{% url 'absence' object.pk object.slug%}" class=""><i class="material-icons large">call_missed</i></a>
            <a href="{% url 'out' object.pk object.slug%}" class=""><i class="material-icons large">call_made</i></a>
            <a href="{% url 'return' object.pk object.slug%}" class=""><i class="material-icons large">call_received</i></a></h5> 
            <div class="col">
                <div class="dashboard">FGN Code: {{object.federal_goverment_code}}</div>
            </div>
            <div class="col">
                <div class="dashboard">Addmission Number: {{object.addmission_number_of_student}}</div>
            </div>
            <div class="col">  
                <div class="dashboard">State of Residence: {{object.state_residence}}</div>
            </div> 
        </div>
    </div>
    <div class="container">
        <table>
                <thead>
                    <tr>
                        <th>List of Books</th>
                        <th>    </th>
                    </tr>
                    <tr>
                        <th>Name</i></th>
                        <th>collection date</th>
                        <th>Distributed by</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td><a>{{ book.title_of_the_text_book }} </a> </td>
                            <td><a>{{ book.date_of_collection }}</a></td>
                            <td><a href="{% url 'book_update' object.id %}"><i class="material-icons">book</i></a></td>
                            </tr>
                    {% endfor %}
            </table>
        <table>
                <thead>
                    <tr>
                        <th>Posting Info</th>
                        <th>    </th>
                    </tr>
                    <tr>
                        <th>Name</i></th>
                        <th>date</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posting %}
                        <tr>
                            <td><a>{{ post.name_of_school }} </a> </td>
                            <td><a>{{ post.date_of_posting }}</a></td>
                            <td><a href="{% url 'posting_update' object.id object.slug %}"> {{ post.reason_for_posting }} </a></td>
                            </tr>
                    {% endfor %}
            </table>
            <table>
                    <thead>
                        <tr>
                            <th> Student's Parent info</th>
                            <th>    </th>
                        </tr>
                        <tr>
                            <th>Name</i></th>
                            <th>State</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in parent %}
                            <tr>
                                <td><a>{{ p.full_name_of_the_father }} and {{ p.full_name_of_the_mother }}</a></td>
                                <td><a href="{% url 'parent_update' object.id %}"><i class="material-icons">person</i></a></td>
                                <td><a>{{ p.contact_address_of_the_father }} and {{ p.contact_address_of_the_mother }}</a></td>
                                </tr>
                        {% endfor %}
                </table>
                <table>
                        <thead>
                            <tr>
                                <th> Student's Literacy info</th>
                                <th>    </th>
                            </tr>
                            <tr>
                                <th>Date</i></th>
                                <th>level | Score</th>
                                <th>Description</th>
                                <th>Asessor</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td><a>{{ literacy_score.date_of_accessment }}</a></td>
                                    <td><a href="{% url 'literacy_update' object.id object.slug %}">{{ literacy.literacy_level }} | {{ literacy.literacy_score }}</a></td>
                                    <td><a>{{ literacy_score.describe_literacy }}</a></td>
                                    <td><a>{{ literacy_score.name_of_assessor }}</a></td>
                                    </tr>
                    </table>

    </div>
  {% endblock content %}
